* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 
}

body {
    background-image: url('https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    font-family: 'Hamlet';

}


.cell{
    width: 40vw;
}

.main-content-wrapper{
    display: flex;
}

.background {
    background-color: rgb(14, 22, 20);
}

.h1 {
    color:rgb(235, 229, 229);
}

.h1:hover {
    background-color: rgba(161, 159, 159, 0.911);
    border-radius: 5px;
    border: solid 1px grey;
    box-shadow: inset 90px rgb(82, 81, 81);
}


.h3 {
    color:rgb(235, 229, 229);
}
.h3:hover {
  color: rgba(161, 159, 159, 0.63);
    
}

h3 {
    color: black;
}


.cardHolder{
    background: black;
    opacity: 75%;
    padding: 50px;
}

.search-history-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  1rem;
}

.button {
    background-color: rgba(218, 218, 218, 0.911);
    padding: 9px;
    border: 1px solid rgb(131, 130, 130);
    border-radius: 5px;
    font-family: 'Hamlet';
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgb(148, 147, 147);
    color: black;
    outline: grey;
    cursor: pointer;
    transition: ease-out 0.4s;
    margin-bottom: 15px;
}

.button-expanded:hover {
    background-color:  rgba(148, 147, 147, 0.719);
    box-shadow: inset 100px rgb(148, 147, 147);
}

.searchbar {
    border-radius: 5px;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.leader {
    text-align: center;
    font-weight: 600;
    transition: ease-out 0.4s;
    color: rgb(235, 229, 229);
}


.leader:hover {
    background-color: rgba(161, 159, 159, 0.911);
    border-radius: 5px;
    border: solid 1px grey;
    box-shadow: inset 90px rgb(82, 81, 81);
}
    



.row{
    margin: 3rem;
}

.word-cloud-center {
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1rem;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

li {
    list-style-type: none;
}

.show {
    display: block;
}

#history-card {
    background: rgba(255,255,255,0.5);
    font-size: 1rem;
    border-radius: 5px;
    width: 20vw;
    box-shadow: 3px 3px 3px;
    text-align: center;
}

/* This is all wordcloud CSS */
.tagcloud {
    font-size: 16px;
  }
  
  .tagcloud--item {
    color: white;
    font-family: "Hamlet";
    font-weight: 700;
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .tagcloud--item:hover {
    background-color: rgba(102, 101, 101, 0.5);
    border: 1px solid rgba(175, 175, 175, 0.719);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1 !important;
    z-index: 100 !important;
  }
  
  .light .tagcloud--item {
    color: #fff;
  }
  
  .light .tagcloud--item:hover {
    background-color: rgba(255,255,255,.1);
    border: 1px solid #fff;
  }  /* word cloud CSS ends here */

/* Tucker - Don't need to keep any styling the same, the flex box and width stuff is
important. Some recipes have odd entries so the card width is set to be flexible 
with what spoontacular gives us. Selectors for applying styles are important */
.work-feature-block {
    display: flex;
    flex-direction: column;
}

.work-feature-block-image {
    max-height: 20em;
    background-blend-mode: initial;
}

#rebuildCards {
    color: white;
    padding: .3rem;
    font-size: 1em;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#recipe-compare-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px 20px;
}

[class^="recipe-compare-card"] {
    flex: 0 1 50%;
    min-height: 500px;
    /* Temp Border */
    border: 2px solid white; 
    border-radius: 5px;
}

.work-feature-block-header {
    font-family: 'Hamlet';
    transition: ease-out 0.3s;
    text-align: center;
    color: rgb(235, 229, 229);
    text-shadow: 5px black;
}

.work-feature-block-header:hover {
    background-color: rgba(161, 159, 159, 0.911);
    border-radius: 5px;
    border: solid 1px grey;
    box-shadow: inset 90px rgb(82, 81, 81);
}



#recipeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    background-color: rgba(255,255,255,0.5);
    border-radius: .5em;
    border: solid 1px whitesmoke;
    box-shadow: .3rem .3rem .3rem rgba(56, 56, 56, 0.733);
    padding: 1rem;
    color: rgba(207, 199, 199, 0.637);
    transition: 0.6s cubic-bezier(0.6);
    
}

.recipeCard:hover {
    background-color: grey;
    border: solid 1px white;
}

.recipeCard > * {
    word-wrap: break-word;
}

.recipeCard img {
    border-radius: 1em;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.466);
    border: solid 1px rgba(248, 232, 199, 0.87);
}

.recipeTitle {
    text-decoration: underline;
    text-align: center;
    color: black;
    font-family: 'Hamlet';
}

.recipeCard ol {
    padding-top: 1em;
}

.usedIngredient {
    color: black;
    font-family: 'Hamlet';
}

.missIngredient {
    color: black;
    font-style: italic;
    text-decoration: underline;
}