* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}

.cell{
    width: 40vw;
}

.search-history-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin:  1rem;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.row{
    margin: 3rem;
}

.word-cloud-center {
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1rem;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

li {
    list-style-type: none;
}

.show {
    display: block;
}

/* Tucker - Don't need to keep any styling the same, the flex box and width stuff is
important. Some recipes have odd entries so the card width is set to be flexible 
with what spoontacular gives us. Selectors for applying styles are important */
.work-feature-block {
    display: flex;
    flex-direction: column;
}

.work-feature-block-image {
    max-height: 20em;
}

#rebuildCards {
    color: white;
    padding: .3rem;
    font-size: 1em;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#recipeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    max-width: max-content;
    margin: .5rem;
    background-color: #1779ba;
    border-radius: .5em;
    box-shadow: .3rem .3rem .3rem black;
    padding: 1rem;
    color: whitesmoke;
}

.recipeCard img {
    border-radius: 1em;
    box-shadow: .3rem .3rem .3rem black;
}

.recipeTitle {
    text-decoration: underline;
    text-align: center;
}

.recipeCard ol {
    padding-top: 1em;
}

.usedIngredient {
    color: greenyellow;
}

.missIngredient {
    color: red;
    font-style: italic;
    text-decoration: underline;
}