* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    font-family: 'Hamlet';

}


.cell{
    width: 40vw;
}

.background {
    background-color: aquamarine;
}

h1 {
    color: beige;
}

.search-history-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:  1rem;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    
}

.h1-text-center {
    font-family: 'Hamlet';
    font-size: 35px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;

}

.row{
    margin: 3rem;
}

.word-cloud-center {
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1rem;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

li {
    list-style-type: none;
}

.show {
    display: block;
}

/* Tucker - Don't need to keep any styling the same, the flex box and width stuff is
important. Some recipes have odd entries so the card width is set to be flexible 
with what spoontacular gives us. Selectors for applying styles are important */
.work-feature-block {
    display: flex;
    flex-direction: column;
}

.work-feature-block-image {
    max-height: 20em;
}

#rebuildCards {
    color: white;
    padding: .3rem;
    font-size: 1em;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#recipeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    max-width: max-content;
    margin: .5rem;
    background-color: rgba(54, 54, 54, 0.205);
    border-radius: .5em;
    box-shadow: .3rem .3rem .3rem rgba(56, 56, 56, 0.63);
    padding: 1rem;
    color: rgba(207, 199, 199, 0.637);
}

.recipeCard img {
    border-radius: 1em;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.466);
    border: solid 1px rgba(248, 232, 199, 0.87);
}

.recipeTitle {
    text-decoration: underline;
    text-align: center;
    color: black;
    font-family: 'Hamlet';
}

.recipeCard ol {
    padding-top: 1em;
}

.usedIngredient {
    color: black;
}

.missIngredient {
    color: black;
    font-style: italic;
    text-decoration: underline;
}

