* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}

.cell{
    width: 40vw;
}
.main-content-wrapper{
    display: flex;
}

.search-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  1rem;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row{
    margin: 3rem;
}

.word-cloud-center {
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1rem;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

li {
    list-style-type: none;
}

.show {
    display: block;
}

#history-card {
    background: cornflowerblue;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 20vw;
    box-shadow: 5px 5px 5px;
    text-align: center;
}

/* This is all wordcloud CSS */
.tagcloud {
    font-size: 16px;
  }
  
  .tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .tagcloud--item:hover {
    background-color: rgba(0,0,0,.1);
    border: 1px solid #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1 !important;
    z-index: 100 !important;
  }
  
  .light .tagcloud--item {
    color: #fff;
  }
  
  .light .tagcloud--item:hover {
    background-color: rgba(255,255,255,.1);
    border: 1px solid #fff;
  }  /* word cloud CSS ends here */

/* Tucker - Don't need to keep any styling the same, the flex box and width stuff is
important. Some recipes have odd entries so the card width is set to be flexible 
with what spoontacular gives us. Selectors for applying styles are important */
.work-feature-block {
    display: flex;
    flex-direction: column;
}

.work-feature-block-image {
    max-height: 20em;
}

#rebuildCards {
    color: white;
    padding: .3rem;
    font-size: 1em;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#recipe-compare-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px 20px;
}

[class^="recipe-compare-card"] {
    flex: 0 1 50%;
    min-height: 500px;
    border-radius: 20px 20px;
}

[class^="recipe-compare-card"]:focus {
    border: 2px solid pink;
}

#recipeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    background-color: #1779ba;
    border-radius: .5em;
    box-shadow: .3rem .3rem .3rem black;
    padding: 1rem;
    color: whitesmoke;
}

.recipeCard > * {
    word-wrap: break-word;
}

.recipeCard img {
    border-radius: 1em;
    box-shadow: .3rem .3rem .3rem black;
}

.recipeTitle {
    text-decoration: underline;
    text-align: center;
}

.recipeCard ol {
    padding-top: 1em;
}

.usedIngredient {
    color: greenyellow;
}

.missIngredient {
    color: red;
    font-style: italic;
    text-decoration: underline;
}
